
*{
box-sizing: border-box;
}
html{
font-family: 'Roboto';
}

.body{
width: 1280px;
margin: 0 auto;
background: #fff;
}

.wrapper{
display: flex;
align-items: center;
justify-content: center;
flex: 1 100%;
}

.logo{
display: flex;
justify-content: flex-start;
}
   
.logo a{
text-decoration: none;
height: 80px;
font-size: 65px;
color: #000;   
}

.logo span{
color: rgba(75, 202, 255, 1);
}

.menu{
display: flex;
justify-content: center;
}

.header-menu{
height: 70px;
width: 1280px;

display: flex;
align-items: center;
justify-content: center;

font-size: 24px; 
background:#35444F;
    
}

.header-menu li{
 cursor: pointer; 
  list-style: none;
  border-left: 1px solid #fff;
  line-height:70px;
  
}

.header-menu li:last-child{
border-right: 1px solid #FFFFFF;
}

.header-menu a{
text-decoration: none;
padding: 0 20px;
color: #FFFFFF;
}
.link_hover{
background:#35444F;
}
.link_hover:hover{
    
background: #222F3A;
  } 

.main {
display: flex;
flex-direction: column;
flex-direction: row;
min-height: 100%;
flex: 1 1 auto;
}

.aside-box{
width: 350px;
display: flex;
margin-top: 50px;
    
}  

.aside-container{
width: 350px;
height: 400px;

display: flex;
flex-direction: column;
justify-content: space-evenly;
order: 1; 
line-height: normal;
border: 1px solid grey;
overflow:hidden;
}


.aside-container p{
cursor: pointer; 
font-size: 27px;
color: #495863;

}

.item-point{
padding-left: 44px;
}

.item-box p{
padding-left: 44px;

}

.item-box p:hover{
display: flex;
align-items: center;
justify-content: center;
height: 80px; 
color: #000;
background: #DBDBDB;
padding: 27px 78px 27px 38px;
}


.main-container{
display: flex;
flex-wrap: wrap;
justify-content: flex-end;
flex: 2 2 880px;
margin-top: 50px;
  
}

.img-box{
width: 880px;
height: 530px;
border: 1px solid grey;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column; 
}
.picture{
display: flex;
transition: 1s; /* Час ефекту */
display: block;
    
}
.picture:hover{
transform: scale(1.2);
}

.text-box{
width: 885px;
font-size: 18px;
line-height: 24px;
}

.text-box p{
margin-top: 35px;
}
.text-box p:last-child{
margin-bottom: 55px;
}

.footer-container{
width: 1280px;
display: flex;
background: rgba(99, 105, 110, 0.48);

}

.footer-menu{
display: flex;
align-items: center;
    
width: 1280px;
height: 70px;
    
list-style: none;
font-size: 28px;
color: #0C1927;

}


.footer-menu div{
margin-left: auto;
   
}

.point_hover{
color: black;
 }

.point_hover p:hover{
color: rgba(75, 202, 255, 1);
padding-bottom: 10px;
border-bottom: 1px solid rgba(75, 202, 255, 1);
    }


.push{
font-size: 24px;
color: #010101;
margin-right: 40px;
}
